<ion-header style="background: white;">
  <ion-toolbar>
    <div class="ion-padding">
      <ion-row>
        <ion-col style="text-align: end; max-height:20px;">
          <span class="material-icons" (click)="closeMedia()" style="font-size: 20px; max-height: 20px; ">
            close
          </span>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col style="text-align:center; text-transform: uppercase;">
          <h4 style="letter-spacing: 3px;">Add Vehicle</h4>
        </ion-col>
      </ion-row>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content force-overscroll="false" class="content fullscreen-bg"
  [ngStyle]="{'background-image': 'url('+'../../../assets/img/transport/photos/1.jpg)'}">
  <div class="ion-padding">
    <form #valueForm="ngForm">
   

    <!--/////-->
    <ng-container>
      
        <!--Vehicle Details-->
        <ion-row class="ion-row-margin-bottom-1">
          <ion-col>
            <h4 class="recommend-details">Vehicle</h4>
          </ion-col>
        </ion-row>

        <ng-container>
          <ion-row class="ion-row-margin-bottom-1">
            <ion-col size=5>
              <div>
                <p class="recommend-details">License Plate</p>
              </div>
            </ion-col>
            <ion-col size=5>
              <input type="text" placeholder="License" name="licensePlateU" id="licensePlateU" class="recommend-input ion-input-margin-bottom"
                ngModel>
            </ion-col>
          </ion-row>

          <ion-row class="ion-row-margin-bottom-1">
            <ion-col size=5>
              <div>
                <p class="recommend-details">Model</p>
              </div>
            </ion-col>
            <ion-col size=5>
              <input type="text" placeholder="Model" name="modelU" id="modelU" class="recommend-input ion-input-margin-bottom "
                ngModel>
            </ion-col>
          </ion-row>

          <ion-row class="ion-row-margin-bottom-1">
            <ion-col size=5>
              <div>
                <p class="recommend-details">Brand</p>
              </div>
            </ion-col>
            <ion-col size=5>
              <input type="text" placeholder="Brand" name="brandU" id="brandU"class="recommend-input ion-input-margin-bottom"
                ngModel>
            </ion-col>
          </ion-row>

          <ion-row class="ion-row-margin-bottom-1">
            <ion-col size=5>
              <div>
                <p class="recommend-details">No. of Seats</p>
              </div>
            </ion-col>
            <ion-col size=5>
              <input type="text" placeholder="No. of Seats" name="seatsU" id="seatsU" class="recommend-input ion-input-margin-bottom"
                ngModel>
            </ion-col>
          </ion-row>

          <ion-row class="ion-row-margin-bottom-1">
            <ion-col size=5>
              <div>
                <p class="recommend-details">USB Facility</p>
              </div>
            </ion-col>
            <ion-col size=5>
              <select name="usb" id="" [(ngModel)]="usbValue" class="selector-background">
                <option value="1">Yes</option>
                <option value="2">No</option>
              </select>
            </ion-col>
          </ion-row>

          <ion-row class="ion-row-margin-bottom-1">
            <ion-col size=5>
              <div>
                <p class="recommend-details">AC </p>
              </div>
            </ion-col>
            <ion-col size=5>
              <select name="ac" id="" [(ngModel)]="acValue" class="selector-background">
                <option value="1">AC</option>
                <option value="2">Dual-AC</option>
                <option value="2">Non-AC</option>
              </select>
            </ion-col>
          </ion-row>

          <ion-row class="ion-row-margin-bottom-1">
            <ion-col size=5>
              <div>
                <p class="recommend-details">CD Player</p>
              </div>
            </ion-col>
            <ion-col size=5>
              <select name="cd" id="" [(ngModel)]="cdValue" class="selector-background">
                <option value="1">Yes</option>
                <option value="2">No</option>
              </select>
            </ion-col>
          </ion-row>

          <ion-row class="ion-row-margin-bottom-1">
            <ion-col size=5>
              <div>
                <p class="recommend-details">Availability</p>
              </div>
            </ion-col>
            <ion-col size=5>
              <select name="available" id="" [(ngModel)]="available" class="selector-background">
                <option value="1">Yes</option>
                <option value="2">No</option>
              </select>
            </ion-col>
          </ion-row>
        </ng-container>
        <!--End of Vehicle Details-->
    </ng-container>
    <!--/////-->

    </form>
    <ion-row>
      <button full type="submit" class="btn btn-primary"
        (click)="updateDetails(valueForm)">
        Add Vehicle
      </button>
    </ion-row>
  </div>
  <!-- <div class="layer"></div> -->
</ion-content>