<ion-content class="content fullscreen-bg" force-overscroll="false">
  <div>
    <ion-row class="header-row">
      <ion-col class="header-style-arrow">
        <img src="assets/icon/arrow-left.svg" class="arrow" alt="" (click)="goBack()">
      </ion-col>
      <ion-col class="header-style-text">
        <h4 class="whitefy header-text">Hotel Registrations</h4>
      </ion-col>
    </ion-row>
  </div>
  <div class="ion-padding" class="margin-top-fixer-1">
    <ion-row>
      <ion-col class="column-decorator">
        <div class="div-padding-fixer">

          <!--Hotel-->
          <ion-row class="margin-bottom-fixer-1">
            <ion-col class="max-width-fixer-1">
              <div>
                <p class="recommend-details">Hotel Name</p>
              </div>
            </ion-col>
            <ion-col class="max-width-fixer-2">
              <input type="text" placeholder="Select your Hotel" name="hotel" required id="hotel"
                class="recommend-input">
            </ion-col>
          </ion-row>
          <!--End of Hotel-->

          <!--Contact-->
          <ion-row class="margin-bottom-fixer-1">
            <ion-col class="max-width-fixer-1">
              <div>
                <p class="recommend-details">Contact</p>
              </div>
            </ion-col>
            <ion-col class="max-width-fixer-2">
              <input type="text" placeholder="Address Line 1" name="hotel-address-1" required id="hotel-address-1"
                class="recommend-input">
              <input type="text" placeholder="Address Line 2" name="hotel-address-2" required id="hotel-address-2"
                class="recommend-input margin-top-fixer-2">
              <input type="text" placeholder="Address Line 3" name="hotel-address-3" required id="hotel-address-3"
                class="recommend-input margin-top-fixer-2">
              <input type="text" placeholder="Mobile" name="hotel-mobile" required id="hotel-mobile"
                class="recommend-input margin-top-fixer-1">
              <input type="text" placeholder="E-mail" name="hotel-mail" required id="hotel-mail"
                class="recommend-input margin-top-fixer-1">
            </ion-col>
          </ion-row>
          <!--End of Contact-->

          <!--Password-->
          <ion-row class="margin-bottom-fixer-1">
            <ion-col class="max-width-fixer-1">
              <div>
                <p class="recommend-details">Password</p>
              </div>
            </ion-col>
            <ion-col class="max-width-fixer-2">
              <input type="password" placeholder="Password" name="password" required id="password"
                class="recommend-input" />
            </ion-col>
          </ion-row>
          <!--End of password-->
          <ion-row>
            <button class="btn btn-primary" (click)="confirmRegistration()">
              Register
            </button>
          </ion-row>
        </div>
      </ion-col>
    </ion-row>


  </div>
</ion-content>