<ion-content class="content fullscreen-bg" force-overscroll="false">
  <div>
    <ion-row class="header-row">
      <ion-col class="header-style-arrow">
        <img src="assets/icon/arrow-left.svg" class="arrow" alt="" (click)="goBack()">
      </ion-col>
      <ion-col class="header-style-text">
        <h5 class="whitefy header-text">Trip Recommender</h5>
      </ion-col>
    </ion-row>
  </div>
  <div>

    <ion-row>
      <ion-col>
        <div>
          <form #recommendForm="ngForm">
            <!--Destination-->
            <ion-row class="ion-row-margin-bottom-1">
              <ion-col class="ion-col-max-width-1">
                <div>
                  <p class="recommend-details">Destination</p>
                </div>
              </ion-col>
              <ion-col class="ion-col-max-width-2">
                <!-- <input type="text" placeholder="destination" name="destination" required id="destination"
                class="ion-input-margin-bottom recommend-input" ngModel> -->

                <select name="destination" id="destination" class="ion-input-margin-bottom selector-background" required
                  (click)="setValues()" [(ngModel)]="destinationSelect">
                  <option *ngFor="let destination of destinationList; let i = index;" [value]="i">
                    {{destination["destination"]}}</option>
                </select>

                <input type="text" placeholder="{{destinationArea}}" name="area" required id="area"
                  class="ion-input-margin-bottom recommend-input" disabled ngModel>
                <input type="text" placeholder="{{destinationDistrict}}" name="district" required id="district"
                  class="ion-input-margin-bottom recommend-input" disabled ngModel>
                <input type="text" placeholder="{{destinationProvince}}" name="province" required id="province"
                  class="recommend-input" disabled ngModel>
              </ion-col>
            </ion-row>
            <!--End of Destination-->

            <!--Days-->
            <ion-row class="ion-row-margin-bottom-1">
              <ion-col class="ion-col-max-width-1">
                <div>
                  <p class="recommend-details">No. of Days</p>
                </div>
              </ion-col>
              <ion-col class="ion-col-max-width-2">
                <input type="text" placeholder="No. of Days" name="days" required id="days" class="recommend-input "
                  ngModel>
              </ion-col>
            </ion-row>
            <!--End of Days-->

          
            <!--People Participating-->
            <ion-row class="ion-row-margin-bottom-1">
              <ion-col class="ion-col-max-width-1">
                <div>
                  <p class="recommend-details">Participant Count</p>
                </div>
              </ion-col>
              <ion-col class="ion-col-max-width-2">
                <input type="text" placeholder="Type no. of participants" name="participants" required id="participants"
                  class="recommend-input " ngModel>
              </ion-col>
            </ion-row>
            <!--End of People Participating-->

            <!--Budget per Person-->
            <ion-row class="ion-row-margin-bottom-1">
              <ion-col class="ion-col-max-width-1">
                <div>
                  <p class="recommend-details">Budget per Person</p>
                </div>
              </ion-col>
              <ion-col class="ion-col-max-width-2">
                <input type="text" placeholder="Rs." name="budget_per_person" required id="budget_per_person"
                  class="recommend-input" ngModel>
              </ion-col>
            </ion-row>
            <!--End of Budget per Person-->

            <!--Age-->
            <ion-row class="ion-row-margin-bottom-1">
              <ion-col class="ion-col-max-width-1">
                <div>
                  <p class="recommend-details">Age</p>
                </div>
              </ion-col>
              <ion-col class="ion-col-max-width-2">
                <select required id="age" name="age" placeholder="" class="selector-background"
                  [(ngModel)]="ageGroupSelected">
                  <option *ngFor="let opt of ageGroup;let i = index;" [value]="i+1">{{opt["ageValue"]}}</option>
                </select>
              </ion-col>
            </ion-row>
            <!--End of Age-->

          </form>

          <!--Travel-->
          <ion-row class="ion-row-margin-bottom-1">
            <ion-col class="ion-col-max-width-1">
              <div>
                <p class="recommend-details">Travel</p>
              </div>
            </ion-col>
            <!--Icons-->
            <ion-col class="ion-col-max-width-3">
              <span class="material-icons icon-click" *ngFor="let t of travelList; let i=index;"
                [ngStyle]="{'color': iconColor[i]===0 ? 'red' :'white'}" (click)="clickTravelIcon(i)">
                {{t["travelValue"]}}
              </span>
              <!--End of Icons-->
            </ion-col>
          </ion-row>
          <!--Travel-->
          <ion-row>
            <button [disabled]="!recommendForm.form.valid" class="btn btn-primary "
              (click)="getRecommendedTrips(recommendForm)" (keyup.enter)="getRecommendedTrips(recommendForm)" ion-button
              full type="submit">
              Recommend Trip
            </button>
          </ion-row>
        </div>
      </ion-col>
    </ion-row>


  </div>
</ion-content>