<ion-content class="content fullscreen-bg" force-overscroll="false">
  <div>
    <ion-row class="header-row">
      <ion-col class="header-style-arrow">
        <img src="assets/icon/arrow-left.svg" class="arrow" alt="" (click)="goBack()">
      </ion-col>
      <ion-col class="header-style-text">
        <h4 class="whitefy header-text">View All Trips</h4>
      </ion-col>
    </ion-row>
  </div>
  <div class="ion-padding" style="padding-top:0 !important; margin-top:0 !important;">
    <ion-row>
      <h4 class="whitefy">Created Trips</h4>
    </ion-row>
    <ion-row>
      <ng-container *ngFor="let trip of tripList">
        <ion-col *ngIf="trip['created']==1">
          <!-- Ionic Card -->
          <ion-card class="card-properties">
            <ion-card-header>
              <ion-card-subtitle [ngStyle]="{color: getColor(getDateDifference(trip['startDate']))}">{{dateDifference}}
              </ion-card-subtitle>
              <ion-card-title>{{trip['destination']}}</ion-card-title>
            </ion-card-header>

            <ion-card-content>
              {{trip['startDate']}}
            </ion-card-content>
          </ion-card>
          <!-- End of Ionic Card -->
        </ion-col>
      </ng-container>


    </ion-row>

    <ion-row>
      <h4 class="whitefy">Joined Trips</h4>
    </ion-row>
    <ion-row>
      <ng-container *ngFor="let trip of tripList">
        <ion-col *ngIf="trip['created']==2">
          <!-- Ionic Card -->
          <ion-card class="card-properties">
            <ion-card-header>
              <ion-card-subtitle [ngStyle]="{color: getColor(getDateDifference(trip['startDate']))}">{{dateDifference}}
              </ion-card-subtitle>
              <ion-card-title>{{trip['destination']}}</ion-card-title>
            </ion-card-header>

            <ion-card-content>
              {{trip['startDate']}}
            </ion-card-content>
          </ion-card>
          <!-- End of Ionic Card -->
        </ion-col>
      </ng-container>


    </ion-row>


  </div>
</ion-content>