<ion-header style="background: white;">
  <ion-toolbar>
    <div class="ion-padding">
      <ion-row>
        <ion-col style="text-transform: uppercase;">
          <img src="assets/icon/arrow-left.svg" alt="" (click)="goBack()" style="float:left; padding-top:1px;">
          <h4 style="letter-spacing: 3px; width:75% !important; float:right; ">Join A Trip</h4>
        </ion-col>
      </ion-row>
    </div>
  </ion-toolbar>
</ion-header>
<ion-content class="content fullscreen-bg" force-overscroll = "false">
  <div class="ion-padding">
    <ion-row>
      <ion-col class="column-decorator">
        <div class="div-decorator">
        <!-- create a trip -->
        <button  class="btn btn-primary" (click)="createTrip()">
          <strong>Create Your Own Trip</strong>
        </button>
        <button  class="btn btn-primary" (click)="tripRecommender()">
          <strong>Trip Recommender</strong>
        </button>
      </div>
      </ion-col>
    </ion-row>
  </div>

</ion-content>