<ion-content class="content fullscreen-bg" force-overscroll="false">
  <div>
    <ion-row style="background-color:black; opacity: 80%;">
      <ion-col style="align-content: center;">
        <img src="assets/icon/arrow-left.svg" style="filter: brightness(0) invert(1);" class="arrow" alt="">
        <img src="assets/img/logo-2.png" class="logo" style="filter: brightness(0) invert(1);" alt="logo-2.png">
        <img src="assets/icon/signs.svg" class="signs" alt="" >
      </ion-col>
    </ion-row>
  </div>
  <div class="ion-padding" style="margin-top:10px;">
    <ion-row>
      <ion-col class="column-decorator">
        <div class="div-decorator">
          <h3 style="font-weight: bold;padding-top:15px; padding-bottom:15px; color:white; text-align:center;">Transport Services Registration
          </h3>

          <!--Transport-->
          <ion-row style="margin-bottom:10px;">
            <ion-col style="max-width:35%;">
              <div>
                <p class="recommend-details">Transport Name</p>
              </div>
            </ion-col>
            <ion-col style="max-width:50%;">
              <input type="text" placeholder="Transport name" name="trasnport" required id="trasnport"
                class="recommend-input">
            </ion-col>
          </ion-row>
          <!--End of Transport-->

         

          <!--Tour guides-->
          <ion-row style="margin-bottom:10px;">
            <ion-col style="max-width:35%;">
              <div>
                <p class="recommend-details">Tour Guides</p>
              </div>
            </ion-col>
            <ion-col style="max-width:50%;">
              <input type="text" placeholder="Mobile" name="trasnport-mobile" required id="trasnport-mobile" class="recommend-input">
              <input type="text" placeholder="E-mail" name="trasnport-mail" required id="trasnport-mail" class="recommend-input" style="margin-top:10px;">
            </ion-col>
          </ion-row>
          <!--End of Tour guides-->

           <!--Password-->
           <ion-row style="margin-bottom:10px;">
            <ion-col style="max-width:35%;">
              <div>
                <p class="recommend-details">Password</p>
              </div>
            </ion-col>
            <ion-col style="max-width:50%;">
              <input type="password" placeholder="Password" name="password" required id="password" class="recommend-input"/>
            </ion-col>
          </ion-row>
          <!--End of password-->

        </div>
      </ion-col>
    </ion-row>
    <button class="btn btn-primary ">
      Register
    </button>
  </div>
</ion-content>