.content {
    height: 100%;
    background-image: url("../../../assets/img/11.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    font-family: "kiona";
}

/*added content*/
ion-card {
    margin: 0 !important;
}
.card-properties {
    // height: 22vh !important;
    // width:40vw !important;\
    background-repeat: no-repeat;
    background-size: cover;
    transition: transform 0.5s;
}
.card-properties:hover {
    border: 1px solid rgba(0, 0, 0, 0.01);
    transform: translateY(2px);
}
ion-card-title {
    font-family: "kiona";
    color: #fff;
}
.contactDetails{
    color:#FFF
}
