<ion-header style="background: white;">
  <ion-toolbar>
    <div class="ion-padding">
      <ion-row>
        <ion-col style="text-align: end; max-height:20px;">
          <span class="material-icons" (click)="closeMedia()" style="font-size: 20px; max-height: 20px; ">
            close
          </span>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col style="text-transform: uppercase;">
          <h4 style="letter-spacing: 3px;font-size: 1.4rem!important; color:black">Trip Details</h4>
        </ion-col>
      </ion-row>
    </div>
  </ion-toolbar>
</ion-header>
<ion-content class="content fullscreen-bg" force-overscroll="false">
  <!-- <div>
    <ion-row class="header-row">
      <ion-col class="header-style-arrow">
        <img src="assets/icon/arrow-left.svg" class="arrow" alt="" (click)="closeMedia()">
      </ion-col>
      <ion-col class="header-style-text">
        <h5 class="whitefy header-text">Trip Details</h5>
      </ion-col>
    </ion-row>
  </div> -->
  <div class="ion-padding">
    <div>
      <ion-row>
        <!-- col - 1 -->
        <ion-col class="max-width-fixer-1">
          <img src="assets/img/locations/{{selectedTrip['tripDestinationId']}}/1.jpg" alt="" class="image-wrapper">
        </ion-col>
        <!-- col - 2 -->
        <ion-col class="max-width-fixer-2">
          <div class="vertical-line"></div>
        </ion-col>
        <!-- col - 3 -->
        <ion-col>
          <h5 style="color:white;">{{selectedTrip['area']}}, {{selectedTrip['district']}}</h5>
          <h6 style="color:white;">{{selectedTrip['province']}}</h6>
          <span class="material-icons icon-click" *ngFor="let t of travelList; let j=index;"
            [ngStyle]="{'color':selectedTrip['travel'].charAt(j) =='r'? 'red':'white'}">
            {{t["travelValue"]}}
          </span>
          <!-- <button class="btn btn-primary">More Details</button> -->
        </ion-col>
      </ion-row>
      <ng-container *ngFor="let hotel of hotelList">
        <ion-row>
          <ion-col class="col-fixer">
            <img src="assets/img/hotels/photos/{{hotel['hotelId']}}.jpg" alt="" class="image-wrapper-circle">
          </ion-col>
          <ion-col style="min-height: 100px;">
            <div style="border:1px solid white; border-radius:5px;">
              <p class="whitefy beautify">{{hotel['address']}}</p>
              <p class="whitefy beautify">{{hotel['phone']}}</p>
              <p class="whitefy beautify">{{hotel['email']}}</p>
            </div>
          </ion-col>
        </ion-row>

      </ng-container>

    </div>

    <div style="margin-top:5px;">
      <ion-row>
        <h5 class="whitefy">Visiting Places</h5>
      </ion-row>
      <ion-row>
        <ion-slides [options]="sliderOpts">
          <ion-slide *ngFor="let img of [1,2,3,4,5]">
            <img src="assets/img/locations/{{selectedTrip['tripDestinationId']}}/{{img}}.jpg" tappable
              (click)="openPreview(img)" alt="">
          </ion-slide>
        </ion-slides>
      </ion-row>
    </div>

    <div>
      <ion-row>
        <ion-col size=6>
          <p class="whitefy font-wrapper">Trip Starts At</p>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size=4>
          <input type="text" placeholder="{{selectedTrip['startDate']}}" name="start-date" required 
            class="recommend-input">
        </ion-col>
        <ion-col size=4>
          <input type="text" placeholder="{{selectedTrip['startTime']}}" name="start-time" required 
            class="recommend-input">
        </ion-col>
        <ion-col size=4>
          <input type="text" placeholder="{{selectedTrip['startVenue']}}" name="start-venue" required 
            class="recommend-input">
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size=4>
          <p class="whitefy font-wrapper">No. of Days</p>
          <input type="text" placeholder="{{selectedTrip['days']}}" name="days" required 
            class="recommend-input">
        </ion-col>
      </ion-row>
      <ion-row style="margin-top:5px;">
        <ion-col size=8>
          <p class="whitefy font-wrapper">Number of Travel Buddies</p>
        </ion-col>
        <ion-col size=4>
          <input type="text" placeholder="{{buddies}}" name="participants" required
             class="recommend-input-modified">
        </ion-col>
      </ion-row>

      <ion-row style="margin-top:5px;">
        <ion-col size=8>
          <p class="whitefy font-wrapper">Number of Confirmed Participants</p>
        </ion-col>
        <ion-col size=4>
          <input type="text" placeholder="{{selectedTrip['participants']}}" name="participants" required
             class="recommend-input-modified">
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size=8>
          <p class="whitefy font-wrapper">Number of Expected Participants</p>
        </ion-col>
        <ion-col size=4>
          <input type="text" placeholder="{{selectedTrip['peopleCount']}}" name="people_count" required
             class="recommend-input-modified">
        </ion-col>
      </ion-row>
      <h4 *ngIf="userId==selectedTrip['userId']">This Trip was created by You</h4>
      <ion-row style="margin-top:10px;">
        <button class="btn btn-primary" (click)="joinTrip(selectedTrip['participants'])" *ngIf="userId!=selectedTrip['userId']" stlye="padding-left:15px; padding-right:15px;">Join</button>
        <button class="btn btn-primary" (click)="closeMedia()">Cancel</button>
      </ion-row>
    </div>

  </div>
</ion-content>