<ion-header style="background: white;">
  <ion-toolbar>
    <div class="ion-padding">
      <ion-row>
        <ion-col style="text-transform: uppercase;">
          <img src="assets/icon/arrow-left.svg" alt="" (click)="goBack()" style="float:left; padding-top:0;">
          <h6 style="letter-spacing: 3px; width:90% !important; float:right;padding-top:1px; ">Trip Recommendations</h6>
        </ion-col>
      </ion-row>
    </div>
  </ion-toolbar>
</ion-header>
<ion-content class="content fullscreen-bg" force-overscroll="false">

  <div class="ion-padding">
   
      <ion-row name="details" class="row-color row-gap" *ngFor="let trip of passedArray; let i = index;" (click)="getSelectedTrip(i)">
        <!-- col - 1 -->
        <ion-col class="max-width-fixer-1 overflow-fixer">
          <img src="assets/img/locations/{{trip['tripDestinationId']}}/1.jpg" alt="" class="image-wrapper">
        </ion-col>
        <!-- col - 2 -->
        <ion-col style="max-width:5px;">
          <div class="vertical-line"></div>
        </ion-col>
        <!-- col - 3 -->
        <ion-col>
          <h5 style="color:white;">{{trip['area']}}, {{trip['district']}}</h5>
          <h6 style="color:white;">{{trip['province']}}</h6>
          <span class="material-icons icon-click" *ngFor="let t of travelList; let j=index;"
            [ngStyle]="{'color':trip['travel'].charAt(j) =='r'? 'red':'white'}">
            {{t["travelValue"]}}
          </span>

          <button class="btn btn-primary">More Details</button>
        </ion-col>
      </ion-row>

  </div>
</ion-content>