<ion-header style="background: white;">
  <ion-toolbar>
    <div class="ion-padding">
      <ion-row>
        <ion-col style="text-align: end; max-height:20px;">
          <span class="material-icons" (click)="closeMedia()" style="font-size: 20px; max-height: 20px; ">
            close
          </span>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col style="text-align:center; text-transform: uppercase;">
          <h4 style="letter-spacing: 3px;">Services</h4>
        </ion-col>
      </ion-row>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content force-overscroll="false" class="content fullscreen-bg">
  <div class="ion-padding">
    <ion-row>
      <ion-col class="column-decorator">
        <div class="div-decorator">
          <!-- start -->
          <!-- start hotel registration -->
          <form #hotelForm="ngForm">
            <ion-row style="margin-bottom:10px; text-align: center;" *ngIf="selectService=='serviceH'">
              <ion-col class="column-decorator">
                <div class="div-padding-fixer">

                  <!--Hotel-->
                  <ion-row class="margin-bottom-fixer-1">
                    <ion-col class="max-width-fixer-1">
                      <div>
                        <p class="recommend-details">Hotel Name</p>
                      </div>
                    </ion-col>
                    <ion-col class="max-width-fixer-2">
                      <input type="text" placeholder="Hotel Name" name="name" required id="name" class="ion-input-margin-bottom recommend-input"
                        ngModel>
                    </ion-col>
                  </ion-row>
                  <!--End of Hotel-->

                  <!--Contact-->
                  <ion-row class="margin-bottom-fixer-1">
                    <ion-col class="max-width-fixer-1">
                      <div>
                        <p class="recommend-details">Address</p>
                      </div>
                    </ion-col>
                    <ion-col class="max-width-fixer-2">
                      <input type="text" placeholder="Line 1" name="line1" required id="line1" class="ion-input-margin-bottom recommend-input"
                        ngModel>
                      <input type="text" placeholder="Line 2" name="line2" id="line2"
                        class="ion-input-margin-bottom recommend-input margin-top-fixer-1" ngModel>
                      <input type="text" placeholder="Line 3" name="line3" id="line3"
                        class="ion-input-margin-bottom recommend-input margin-top-fixer-1" ngModel>
                    </ion-col>
                  </ion-row>

                  <ion-row class="margin-bottom-fixer-1">
                    <ion-col class="max-width-fixer-1">
                      <div>
                        <p class="recommend-details" style="margin-top:10px">Telephone</p>
                      </div>
                    </ion-col>
                    <ion-col class="max-width-fixer-2">
                      <input type="text" placeholder="Telephone" name="phone" required id="phone"
                        class="ion-input-margin-bottom recommend-input" ngModel>
                    </ion-col>
                  </ion-row>

                  <ion-row class="margin-bottom-fixer-1">
                    <ion-col class="max-width-fixer-1">
                      <div>
                        <p class="recommend-details" style="margin-top:10px">E mail</p>
                      </div>
                    </ion-col>
                    <ion-col class="max-width-fixer-2">
                      <input type="text" placeholder="E-mail" name="email" required id="email"
                        class="ion-input-margin-bottom recommend-input" ngModel>
                    </ion-col>
                  </ion-row>
                  <!--End of Contact-->
                  <ion-row>
                    <button class="btn btn-primary" (click)="registerHotel(hotelForm)"
                      [disabled]="!hotelForm.form.valid" (keyup.enter)="registerHotel(hotelForm)">
                      Register
                    </button>
                  </ion-row>
                </div>
              </ion-col>

            </ion-row>
          </form>
          <!-- end hotel registration -->

          <!-- start travel registration -->
          <form #transportForm="ngForm">
            <ion-row style="margin-bottom:10px; text-align: center;" *ngIf="selectService=='serviceT'">
              <ion-col class="column-decorator">
                <div class="div-padding-fixer">

                  <!--Transport Type-->
                  <ion-row class="margin-bottom-fixer-1">
                    <ion-col class="max-width-fixer-1">
                      <div>
                        <p class="recommend-details">Transport Type</p>
                      </div>
                    </ion-col>
                    <ion-col class="max-width-fixer-3">
                      <ng-container *ngFor="let t of travelList; let i=index;">
                        <span class="material-icons icon-click" [ngStyle]="{'color': iconColor[i]===0 ? 'red' :'white'}" 
                         (click)="clickTravelIcon(i)" >
                         <!-- [ngStyle]="{'color': iconColor[i]===0 ? 'red' :'white'}" -->
                        {{t["travelValue"]}}
                      </span>
                      </ng-container>
                      
                    </ion-col>
                  </ion-row>
                  <!--End of Transport Type-->

                  <!--Transport-->
                  <ion-row class="margin-bottom-fixer-1">
                    <ion-col class="max-width-fixer-1">
                      <div>
                        <p class="recommend-details">Transport Name</p>
                      </div>
                    </ion-col>
                    <ion-col class="max-width-fixer-2">
                      <input type="text" placeholder="Transport Name" name="name" required id="name"
                        class="ion-input-margin-bottom recommend-input" ngModel>
                    </ion-col>
                  </ion-row>
                  <!--End of Transport-->

                  <!--Contact-->
                  <ion-row class="margin-bottom-fixer-1">
                    <ion-col class="max-width-fixer-1">
                      <div>
                        <p class="recommend-details">Contact</p>
                      </div>
                    </ion-col>
                    <ion-col class="max-width-fixer-2">
                      <input type="text" placeholder="Line 1" name="line1" required id="line1" class="ion-input-margin-bottom recommend-input"
                        ngModel>
                      <input type="text" placeholder="Line 2" name="line2" id="line2"
                        class="ion-input-margin-bottom recommend-input margin-top-fixer-1" ngModel>
                      <input type="text" placeholder="Line 3" name="line3" id="line3"
                        class="ion-input-margin-bottom recommend-input margin-top-fixer-1" ngModel>
                    </ion-col>
                  </ion-row>

                  <ion-row class="margin-bottom-fixer-1">
                    <ion-col class="max-width-fixer-1">
                      <div>
                        <p class="recommend-details" style="margin-top:10px">Telephone</p>
                      </div>
                    </ion-col>
                    <ion-col class="max-width-fixer-2">
                      <input type="text" placeholder="Telephone" name="phone" required id="phone"
                        class="recommend-input margin-top-fixer-1" ngModel>
                    </ion-col>
                  </ion-row>

                  <ion-row class="margin-bottom-fixer-1">
                    <ion-col class="max-width-fixer-1">
                      <div>
                        <p class="recommend-details" style="margin-top:10px">E mail</p>
                      </div>
                    </ion-col>
                    <ion-col class="max-width-fixer-2">
                      <input type="text" placeholder="E-mail" name="email" required id="email"
                        class="ion-input-margin-bottom recommend-input" ngModel>
                    </ion-col>
                  </ion-row>
                  <!--End of Contact-->
                  <ion-row>
                    <button class="btn btn-primary" (click)="registerTransport(transportForm)"
                      [disabled]="!transportForm.form.valid" (keyup.enter)="registerTransport(transportForm)">
                      Register
                    </button>
                  </ion-row>
                </div>
              </ion-col>
            </ion-row>
          </form>


        </div>
      </ion-col>
    </ion-row>
  </div>
</ion-content>