<ion-content fullscreen>
  <ion-item class="close-fake" lines="none" style="text-align:end;">

    <!-- <ion-button (click)="zoom(true)" fill="clear" color="light">
      <ion-icon name="add" slot="start"></ion-icon>
    </ion-button>

    <ion-button (click)="zoom(false)" fill="clear" color="light">
      <ion-icon name="remove" slot="start"></ion-icon>
    </ion-button> -->


    <ion-button (click)="close()" fill="clear" color="light">
      <ion-icon name="close" slot="end"></ion-icon>
    </ion-button>

  </ion-item>

  <ion-slides [options]="sliderOpts" #slider>
    <ion-slide>
      <div class="swiper-zoom-container">
        <img src="assets/img/locations/{{img}}.jpg" alt="">
      </div>
    </ion-slide>
  </ion-slides>
</ion-content>