<ion-content class="content">
  <div class="ion-padding">
    <ion-row class="logo-row">
      <ion-col>
        <img src="assets/img/logo-1.png" class="logo"  style="filter: brightness(0) invert(1);"/>
      </ion-col>
    </ion-row>
    <form #registerForm="ngForm" *ngIf="!emailSuccess">
      <ion-row>
        <ion-col>
          <input
            type="email"
            placeholder="E-mail"
            name="email"
            required
            id="email"
            class="form-control credentials"
            [(ngModel)]="email"
          />
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col class="signin-col">
          <button
            ion-button
            class="submit-btn"
            full
            type="submit"
            [disabled]="!registerForm.form.valid"
            class="btn btn-primary credentials-btn"
            (click)="sendEmail()"
            (keyup.enter)="sendEmail()"
          >
            Reset Password
          </button>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col class="register-col">
            <button ion-button class="register-btn" (click)="login()">
              Back to login page
            </button>
        </ion-col>
      </ion-row>
    </form>
    <form #tokenForm="ngForm"*ngIf="emailSuccess && !tokenSuccess">
      <ion-row>
        <ion-col>
          <input
            type="token"
            placeholder="Token"
            name="token"
            required
            id="token"
            class="form-control credentials"
            [(ngModel)]="token"
          />
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col class="signin-col">
          <button
            ion-button
            class="submit-btn"
            full
            type="submit"
            [disabled]="!tokenForm.form.valid"
            class="btn btn-primary credentials-btn"
            (click)="checkToken()"
            (keyup.enter)="checkToken()"
          >
            Submit Token
          </button>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col class="register-col">
            <button ion-button class="register-btn" (click)="login()">
              Back to login page
            </button>
        </ion-col>
      </ion-row>
    </form>
    <form #PasswordForm="ngForm"*ngIf="emailSuccess && tokenSuccess">
      <ion-row>
        <ion-col>
          <input
            type="password"
            placeholder="New Password"
            name="password"
            required
            id="password"
            class="form-control credentials"
            [(ngModel)]="password"
          />
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <input
            type="password"
            placeholder="Re-Type Password"
            name="retypePassword"
            required
            id="retypePassword"
            class="form-control credentials"
            [(ngModel)]="retypePassword"
          />
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col class="signin-col">
          <button
            ion-button
            class="submit-btn"
            full
            type="submit"
            [disabled]="!PasswordForm.form.valid"
            class="btn btn-primary credentials-btn"
            (click)="changePassword()"
            (keyup.enter)="changePassword()"
          >
            Change Password
          </button>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col class="register-col">
            <button ion-button class="register-btn" (click)="login()">
              Back to login page
            </button>
        </ion-col>
      </ion-row>
    </form>
  </div>
</ion-content>
