<ion-content class="content fullscreen-bg" force-overscroll="false">
  <div>
      <ion-row class="header-row">
        <ion-col class="header-style-arrow">
          <img src="assets/icon/arrow-left.svg" class="arrow" alt="">
        </ion-col>
        <ion-col class="header-style-text">
          <h5 class="whitefy header-text">Trip Recommendations</h5>
        </ion-col>
      </ion-row>
  </div>
  <div class="ion-padding">
    <ion-row class="row-color">
      <!-- col - 1 -->
      <ion-col class=max-width-fixer-1>
        <img src="assets/img/6.jpg" alt="" class="image-wrapper">
      </ion-col>
      <!-- col - 2 -->
      <ion-col style="max-width:5px;">
        <div class="vertical-line"></div>
      </ion-col>
      <!-- col - 3 -->
      <ion-col>
        <h5 style="color:white;">Galle, Sri Lanka</h5>
        <h6 style="color:white;">5km</h6>
        <span class="material-icons icon-click">
          directions_run
        </span>
        <span class="material-icons icon-click">
          directions_bike
        </span>
        <span class="material-icons icon-click">
          directions_car
        </span>
        <span class="material-icons icon-click">
          airport_shuttle
        </span>
        <span class="material-icons icon-click">
          directions_bus
        </span>
        <span class="material-icons icon-click">
          directions_railway
        </span>
        <button class="btn btn-primary">More Details</button>
      </ion-col>
      
        
    </ion-row>

  </div>
</ion-content>