<ion-content class="content fullscreen-bg" force-overscroll = "false">
  <div>
    <ion-row class="row-header">
      <ion-col class="col-header">
        <img src="assets/img/logo-2.png" class="logo logo-color-changer" alt="logo-2.png">
        <img src="assets/icon/signs.svg" class="signs" alt="" (click)="signout()">
      </ion-col>
    </ion-row>
  </div>
  <div class="ion-padding">
    <ion-row>
      <ion-col class="column-decorator">
        <div class="div-decorator">
        <!-- view all trips -->
        <button  class="btn btn-primary" (click)="viewAllTrips()" *ngIf="roleType=='customer'">
          <strong>View All Trips</strong>
        </button> 
        <!-- view all  trips -->
        <button class="btn btn-primary" (click)="joinTrip()" *ngIf="roleType=='customer'">
          <strong>Join a Trip</strong>
        </button> 
        <!-- services -->
        <button  (click)="openModal(roleType)" class="btn btn-primary" *ngIf="roleType =='serviceH' ||roleType=='serviceT'">
          <strong>Services</strong>
        </button>
        <button  class="btn btn-primary" *ngIf="roleType=='serviceH'" (click)="viewHotelsModal()">
          <strong>View Hotels</strong>
        </button>
        <button  class="btn btn-primary" *ngIf="roleType=='serviceT'" (click)="viewTransportModal()">
          <strong>View Transport</strong>
        </button>
      </div>
      </ion-col>
    </ion-row>
  </div>
</ion-content>