<ion-content class="content fullscreen-bg" force-overscroll="false">
  <div>
    <ion-row class="header-row">
      <ion-col class="header-style-arrow">
        <img  src="assets/icon/arrow-left.svg" class="arrow" alt="">
      </ion-col>
      <ion-col class="header-style-text">
        <h6 class="whitefy header-text">Transport Services Details</h6>
      </ion-col>
    </ion-row>
  </div>
  <div class="ion-padding" style="margin-top:10px;">
    <ion-row>
      <ion-col class="column-decorator">
        <div class="div-decorator">

          <!--Transport-->
          <ion-row style="margin-bottom:10px;">
            <ion-col style="max-width:35%;">
              <div>
                <p class="recommend-details">transport Name</p>
              </div>
            </ion-col>
            <ion-col style="max-width:50%;">
              <input type="text" placeholder="Select your Transport" name="transport" required id="transport"
                class="recommend-input">
            </ion-col>
          </ion-row>
          <!--End of Hotel-->

          <!--Travel Agency-->
          <ion-row style="margin-bottom:10px;">
            <ion-col style="max-width:35%;">
              <div>
                <p class="recommend-details">Travel Agency</p>
              </div>
            </ion-col>
            <ion-col style="max-width:50%;">
              <input type="text" placeholder="Mobile" name="travel-agency-mobile" required id="travel-agency-mobile" class="recommend-input">
              <input type="text" placeholder="E-mail" name="travel-agency-mail" required id="travel-agency-mail" class="recommend-input" style="margin-top:10px;">
            </ion-col>
          </ion-row>
          <!--End of Travel Agency-->

          <!--Tour Guide-->
          <ion-row style="margin-bottom:10px;">
            <ion-col style="max-width:35%;">
              <div>
                <p class="recommend-details">Tour Guide</p>
              </div>
            </ion-col>
            <ion-col style="max-width:50%;">
              <input type="text" placeholder="Mobile" name="tour-guide-mobile" required id="tour-guide-mobile" class="recommend-input">
              <input type="text" placeholder="E-mail" name="tour-guide-mail" required id="tour-guide-mail" class="recommend-input" style="margin-top:10px;">
            </ion-col>
          </ion-row>
          <!--End of Tour Guide-->

          <!--Travel-->
          <ion-row style="margin-bottom:10px;">
            <ion-col style="max-width:35%;">
              <div>
                <p class="recommend-details">Travel By</p>
              </div>
            </ion-col>
            <!--Icons-->
            <ion-col style="max-width:60%;">
              <span class="material-icons icon-click">
                directions_run
              </span>
              <span class="material-icons icon-click">
                directions_bike
              </span>
              <span class="material-icons icon-click">
                directions_car
              </span>
              <span class="material-icons icon-click">
                airport_shuttle
                </span>
              <span class="material-icons icon-click">
                directions_bus
              </span>
              <span class="material-icons icon-click">
                directions_railway
              </span>
              <!--End of Icons-->
            </ion-col>
          </ion-row>
          <!--Travel-->

        </div>
      </ion-col>
    </ion-row>
    <button class="btn btn-primary ">
      Update
    </button>
  </div>
</ion-content>
