<ion-content class="content fullscreen-bg" force-overscroll="false">
  <div>
    <ion-row class="header-row">
      <ion-col class="header-style-arrow">
        <img src="assets/icon/arrow-left.svg" class="arrow" alt="" (click)="goBack()">
      </ion-col>
      <ion-col class="header-style-text">
        <h4 class="whitefy header-text">Create a Trip</h4>
      </ion-col>
    </ion-row>
  </div>
  <div class="ion-padding" style="padding-top:0 !important; margin-top:0 !important;">
    

      <ion-row>
        <ion-col class="column-decorator">
          <div>
            <form #tripForm="ngForm">
            <!--Destination-->
            <ion-row class="ion-row-margin-bottom-1">
              <ion-col class="ion-col-max-width-1">
                <div>
                  <p class="recommend-details">Destination</p>
                </div>
              </ion-col>
              <ion-col class="ion-col-max-width-2">
                <input type="text" placeholder="destination" name="destination" required id="destination"
                  class="recommend-input" ngModel>
              </ion-col>
            </ion-row>
            <!--End of Destination-->

            <!--Start at-->
            <ion-row class="ion-row-margin-bottom-1">
              <ion-col class="ion-col-max-width-1">
                <div>
                  <p class="recommend-details">Start At</p>
                </div>
              </ion-col>
              <ion-col class="ion-col-max-width-2">
                <input type="text" placeholder="date" name="start_date" required id="start_date"
                  class="recommend-input ion-input-margin-bottom" ngModel>
                <input type="text" placeholder="time" name="start_time" required id="start_time"
                  class="recommend-input ion-input-margin-bottom" ngModel>
                <input type="text" placeholder="venue" name="start_venue" required id="start_venue"
                  class="recommend-input" ngModel>
              </ion-col>
            </ion-row>
            <!--End of Start at-->

            <!--Ends at-->
            <ion-row class="ion-row-margin-bottom-1">
              <ion-col class="ion-col-max-width-1">
                <div>
                  <p class="recommend-details">Ends At</p>
                </div>
              </ion-col>
              <ion-col class="ion-col-max-width-2">
                <input type="text" placeholder="date" name="end_date" required id="end_date"
                  class="recommend-input ion-input-margin-bottom " ngModel>
                <input type="text" placeholder="time" name="end_time" required id="end_time"
                  class="recommend-input ion-input-margin-bottom " ngModel>
                <input type="text" placeholder="venue" name="end_venue" required id="end_venue"
                  class="recommend-input " ngModel>
              </ion-col>
            </ion-row>
            <!--End of Ends at-->

            <!--People Count-->
            <ion-row class="ion-row-margin-bottom-1">
              <ion-col class="ion-col-max-width-1">
                <div>
                  <p class="recommend-details">People Count</p>
                </div>
              </ion-col>
              <ion-col class="ion-col-max-width-2">
                <input type="text" placeholder="Type no. of people" name="people_count" required id="people_count"
                  class="recommend-input " ngModel>
              </ion-col>
            </ion-row>
            <!--End of People Count-->

            <!--Budget per Person-->
            <ion-row class="ion-row-margin-bottom-1">
              <ion-col class="ion-col-max-width-1">
                <div>
                  <p class="recommend-details">Budget per Person</p>
                </div>
              </ion-col>
              <ion-col class="ion-col-max-width-2">
                <input type="text" placeholder="Rs." name="budget_per_person" required id="budget_per_person"
                  class="recommend-input" ngModel>
              </ion-col>
            </ion-row>
            <!--End of Budget per Person-->

            <!--Age-->
            <ion-row class="ion-row-margin-bottom-1">
              <ion-col class="ion-col-max-width-1">
                <div>
                  <p class="recommend-details">Age</p>
                </div>
              </ion-col>
              <ion-col class="ion-col-max-width-2">
                <input type="text" placeholder="" name="age" required id="age" class="recommend-input "
                  ngModel>
              </ion-col>
            </ion-row>
            <!--End of Age-->

            <!--Weather-->
            <ion-row class="ion-row-margin-bottom-1">
              <ion-col class="ion-col-max-width-1">
                <div>
                  <p class="recommend-details">Weather</p>
                </div>
              </ion-col>
              <ion-col class="ion-col-max-width-2">
                <input type="text" placeholder="" name="weather" required id="weather"
                  class="recommend-input" ngModel>
              </ion-col>
            </ion-row>
            <!--End of Weather-->
          </form>
            <!--Travel-->
            <ion-row class="ion-row-margin-bottom-1">
              <ion-col class="ion-col-max-width-1">
                <div>
                  <p class="recommend-details">Travel</p>
                </div>
              </ion-col>
              <!--Icons-->
              <ion-col class="ion-col-max-width-3">
                <span class="material-icons icon-click" [ngStyle]="{'color': iconColor[0]===0 ? 'red' :'white'}" (click)="clickTravelIcon(0)">
                  directions_run
                </span>
                <span class="material-icons icon-click" [ngStyle]="{'color': iconColor[1]===0 ? 'red' :'white'}" (click)="clickTravelIcon(1)">
                  directions_bike
                </span>
                <span class="material-icons icon-click" [ngStyle]="{'color': iconColor[2]===0 ? 'red' :'white'}" (click)="clickTravelIcon(2)">
                  directions_car
                </span>
                <span class="material-icons icon-click" [ngStyle]="{'color': iconColor[3]===0 ? 'red' :'white'}" (click)="clickTravelIcon(3)">
                  airport_shuttle
                </span>
                <span class="material-icons icon-click" [ngStyle]="{'color': iconColor[4]===0 ? 'red' :'white'}" (click)="clickTravelIcon(4)">
                  directions_bus
                </span>
                <span class="material-icons icon-click" [ngStyle]="{'color': iconColor[5]===0 ? 'red' :'white'}" (click)="clickTravelIcon(5)">
                  directions_railway
                </span>
                <!--End of Icons-->
              </ion-col>
            </ion-row>
            <!--Travel-->
            <ion-row>
              <button *ngIf="isLoading === 0" ion-button full type="submit"
                class="btn btn-primary">
                Create A Trip
              </button>
            </ion-row>
          </div>
        </ion-col>
      </ion-row>

    
  </div>
</ion-content>