<ion-header style="background: white;">
  <ion-toolbar>
    <div class="ion-padding">
      <ion-row>
        <ion-col style="text-transform: uppercase;">
          <img src="assets/icon/arrow-left.svg" alt="" (click)="goBack()" style="float:left; padding-top:1px;">
          <h4 style="letter-spacing: 3px; width:75% !important; float:right; ">Create Trip</h4>
        </ion-col>
      </ion-row>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content class="content fullscreen-bg" force-overscroll="false">
  
  <div class="ion-padding" style="padding-top:0 !important; margin-top:0 !important;">


    <ion-row>
      <ion-col>
        <div>
          <form #tripForm="ngForm">
            <!--Destination-->
            <ion-row class="ion-row-margin-bottom-1">
              <ion-col class="ion-col-max-width-1">
                <div>
                  <p class="recommend-details">Destination</p>
                </div>
              </ion-col>
              <ion-col class="ion-col-max-width-2">
                <!-- <input type="text" placeholder="destination" name="destination" required id="destination"
                  class="ion-input-margin-bottom recommend-input" ngModel> -->

                <select name="destination" id="destination" class="ion-input-margin-bottom selector-background" required
                  (click)="setValues()" [(ngModel)]="destinationSelect">
                  <option *ngFor="let destination of destinationList; let i = index;" [value]="i">
                    {{destination["destination"]}}</option>
                </select>

                <input type="text" placeholder="{{destinationArea}}" name="area" required id="area"
                  class="ion-input-margin-bottom recommend-input" disabled ngModel>
                <input type="text" placeholder="{{destinationDistrict}}" name="district" required id="district"
                  class="ion-input-margin-bottom recommend-input" disabled ngModel>
                <input type="text" placeholder="{{destinationProvince}}" name="province" required id="province"
                  class="ion-input-margin-bottom recommend-input" disabled ngModel>
              </ion-col>
            </ion-row>
            <!--End of Destination-->

            <!--Start at-->
            <ion-row class="ion-row-margin-bottom-1">
              <ion-col class="ion-col-max-width-1">
                <div>
                  <p class="recommend-details">Start At</p>
                </div>
              </ion-col>
              <ion-col class="ion-col-max-width-2">
                <input onfocus="(this.type='date')" onblur="(this.type='text')" type="text" placeholder="date"
                  name="start_date" required id="start_date" class="recommend-input ion-input-margin-bottom" ngModel>
                <input onfocus="(this.type='time')" onblur="(this.type='text')" type="text" placeholder="time"
                  name="start_time" required id="start_time" class="recommend-input ion-input-margin-bottom" ngModel>
                <input type="text" placeholder="venue" name="start_venue" required id="start_venue"
                  class="ion-input-margin-bottom recommend-input" ngModel>
              </ion-col>
            </ion-row>
            <!--End of Start at-->

            <!--Days-->
            <ion-row class="ion-row-margin-bottom-1">
              <ion-col class="ion-col-max-width-1">
                <div>
                  <p class="recommend-details">No. of Days</p>
                </div>
              </ion-col>
              <ion-col class="ion-col-max-width-2">
                <input type="text" placeholder="No. of Days" name="days" required id="days"
                  class="ion-input-margin-bottom recommend-input" ngModel>
              </ion-col>
            </ion-row>
            <!--End of Days-->

            <!--People Count-->
            <ion-row class="ion-row-margin-bottom-1">
              <ion-col class="ion-col-max-width-1">
                <div>
                  <p class="recommend-details">People Count</p>
                </div>
              </ion-col>
              <ion-col class="ion-col-max-width-2">
                <input type="text" placeholder="No. of people" name="people_count" required id="people_count"
                  class="ion-input-margin-bottom recommend-input" ngModel>
              </ion-col>
            </ion-row>
            <!--End of People Count-->

            <!--People Participating-->
            <ion-row class="ion-row-margin-bottom-1">
              <ion-col class="ion-col-max-width-1">
                <div>
                  <p class="recommend-details">Participant Count</p>
                </div>
              </ion-col>
              <ion-col class="ion-col-max-width-2">
                <input type="text" placeholder="No. of participants" name="participants" required id="participants"
                  class="ion-input-margin-bottom recommend-input" ngModel>
              </ion-col>
            </ion-row>
            <!--End of People Participating-->

            <!--Budget per Person-->
            <ion-row class="ion-row-margin-bottom-1">
              <ion-col class="ion-col-max-width-1">
                <div>
                  <p class="recommend-details">Budget per Person</p>
                </div>
              </ion-col>
              <ion-col class="ion-col-max-width-2">
                <input type="text" placeholder="Rs." name="budget_per_person" required id="budget_per_person"
                  class="ion-input-margin-bottom recommend-input" ngModel>
              </ion-col>
            </ion-row>
            <!--End of Budget per Person-->

            <!--Age-->
            <ion-row class="ion-row-margin-bottom-1">
              <ion-col class="ion-col-max-width-1">
                <div>
                  <p class="recommend-details">Age</p>
                </div>
              </ion-col>
              <ion-col class="ion-col-max-width-2">
                <select required id="age" name="age" placeholder="" class="selector-background"
                  [(ngModel)]="ageGroupSelected">
                  <option *ngFor="let opt of ageGroup;let i = index;" [value]="i+1">{{opt["ageValue"]}}</option>
                </select>
              </ion-col>
            </ion-row>
            <!--End of Age-->

            <!--Trip Type-->
            <ion-row class="ion-row-margin-bottom-1">
              <ion-col class="ion-col-max-width-1">
                <div>
                  <p class="recommend-details">Trip Type</p>
                </div>
              </ion-col>
              <ion-col class="ion-col-max-width-2">
                <select required id="triptype" name="triptype" placeholder="" class="selector-background"
                  [(ngModel)]="tripTypeSelected" style="padding-left:42px; padding-right:50px;">
                  <option *ngFor="let opt of tripType" [value]="opt.id">{{opt.name}}</option>
                </select>
              </ion-col>
            </ion-row>
            <!--End of Trip Type-->


          </form>
          <!--Travel-->
          <ion-row class="ion-row-margin-bottom-1">
            <ion-col class="ion-col-max-width-1">
              <div>
                <p class="recommend-details">Travel</p>
              </div>
            </ion-col>
            <!--Icons-->
            <ion-col class="ion-col-max-width-3">
              <span class="material-icons icon-click" *ngFor="let t of travelList; let i=index;"
                [ngStyle]="{'color': iconColor[i]===0 ? 'red' :'white'}" (click)="clickTravelIcon(i)">
                {{t["travelValue"]}}
              </span>
              <!--End of Icons-->
            </ion-col>
          </ion-row>
          <!--Travel-->
          <ion-row>
            <button [disabled]="!tripForm.form.valid" ion-button full type="submit" class="btn btn-primary"
              (click)="createTrip(tripForm)" (keyup.enter)="createTrip(tripForm)">
              Create A Trip
            </button>
          </ion-row>
        </div>
      </ion-col>
    </ion-row>


  </div>
</ion-content>